.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.landing-page {
  color: rgb(115, 37, 37);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.landing-page h1{
  font-size: 50px;
}
.landing-page p {
  font-size: 25px;
  font-weight: bold;
}

.landing-page img{
  height: 200px;
  width: auto;
}

.landing-page button {
  width: 250px;
  background-color: rgb(93, 45, 11);
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: transform 0.2s ease;
}

.landing-page button:hover {
  background-color: rgb(206, 157, 122);
  color: black;
  transform: scale(1.1);
}


/* Add styles for the entire login container */
.login-container, .registration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Style the login box */
.login-box, .registration-box {
  background-color: #f5f5f5;
  align-items: center;
  border: 1px solid #ddd;
  padding: 50px;
  border-radius: 8px;
 /* width: 300px;*/
  box-shadow: 6px 3px 10px 0px rgba(0, 0, 0, 0.1);
}

/* Style the input fields */
label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  align-items: center;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Style the login button */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/*image*/

.container {
  display: flex;
}

.building-container {
  width: 50%;
}

.building-image {
  width: 100%;
  height: auto;
}

.login-container, .registration-container {
  width: 50%;
}



.logo-image {
  width: 300px; /* Adjust the width as needed */
  height: auto;
}



/* Add styles for the user type buttons */
.user-type-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Adjust the gap as needed */
}

/* Style for the landlord and tenant buttons */
.user-type-button {
  background-color: #17a2b8; /* Change to your preferred color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-type-button:hover {
  background-color: #138496; /* Change to your preferred color */
}

/* Style for the register button */
.register-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}



/*landing page css*/
.landing-page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/landingPage.png'); /* Replace with the path to your image */
  background-size: cover;
  opacity: 60%;
  filter: blur(10px); /* Adjust the blur intensity */
  z-index: -1; /* Place the background image behind other elements */
}

.logo-image {
  width: 150px; /* Adjust the width as needed */
  margin-bottom: 20px; /* Adjust the margin as needed */
}
